# --- Core scientific stack ---
numpy
pandas
PyYAML
tqdm
scipy
scikit-learn
statsmodels

# --- Torch + TALENT ---
torch           # version will be auto-managed by TALENT
talent @ git+https://github.com/qile2000/LAMDA-TALENT.git

# --- Data preprocessing ---
category_encoders
imbalanced-learn
optuna

# --- Visualization ---
matplotlib
seaborn
plotly
streamlit

# --- Utilities ---
typing_extensions
