# ============================================
# Local Machine (Blackwell GPU - sm_120)
# ============================================
faiss-cpu==1.13.1

# PyTorch - CPU version for now
torch
torchvision

# Base packages
-r requirements.txt